.card {
    .card-body {

        .input-group-prepend {
            width: 37px;
        }

        .select {
            color: gray;

            option:not(:first-of-type) {
                color: black;
            }

            .select-placeholder {
                display: none;
            }
        }
    }
}