<div class="card bg-dark">
    <div class="card-body mx-auto">

        <h4 class="card-title mt-3 text-center">Napravite Nalog</h4>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="employee-tab" data-toggle="tab" href="#employee" role="tab"
                    aria-controls="home" aria-selected="true">Zaposleni</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="student-tab" data-toggle="tab" href="#student" role="tab"
                    aria-controls="profile" aria-selected="false">Student</a>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <!-- Employee -->
            <div class="tab-pane fade show active" id="employee" role="tabpanel" aria-labelledby="employee-tab">

                <form name="employee-form" class="mt-3">

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i>*</span>
                        </div>
                        <input name="username" onkeypress="return /[a-zA-Z0-9.]/i.test(event.key)"  class="form-control" placeholder="Username" type="text" [(ngModel)]="employeeUsername">
                        <div class="input-group-append">
                            <span class="input-group-text"> @etf.bg.ac.rs </span>
                        </div>
                    </div> <!-- form-group// -->

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i>*</span>
                        </div>
                        <input name="firstname" onkeypress="return /[- 'a-zA-Z]/i.test(event.key)" class="form-control" placeholder="Ime" type="text" [(ngModel)]="employee.firstName">
                        <input name="lastname" onkeypress="return /[- 'a-zA-Z]/i.test(event.key)" class="form-control" placeholder="Prezime" type="text" [(ngModel)]="employee.lastName">
                    </div> <!-- form-group// -->

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i>*</span>
                        </div>
                        <input name="password1" class="form-control" placeholder="Lozinka" type="password" [(ngModel)]="emplPass1">
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i>*</span>
                        </div>
                        <input name="password2" class="form-control" placeholder="Ponovljena lozinka" type="password" [(ngModel)]="emplPass2">
                    </div> <!-- form-group// -->

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-map-marked-alt"></i>*</span>
                        </div>
                        <input name="address" class="form-control" placeholder="Ulica i broj, grad" type="text" [(ngModel)]="employee.address">
                    </div> <!-- form-group// -->

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                        </div>
                        <input name="phoneNumber" onkeypress="return /[0-9]/i.test(event.key)" class="form-control" placeholder="Telefon" type="text" [(ngModel)]="employee.phoneNumber">
                    </div> <!-- form-group// -->

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-globe"></i> </span>
                        </div>
                        <input name="webpage" class="form-control" placeholder="Vebsajt" type="text" [(ngModel)]="employee.webpage">
                    </div> <!-- form-group// -->

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-info-circle"></i> </span>
                        </div>
                        <input name="personalInfo" class="form-control" placeholder="Licni podaci" type="text" [(ngModel)]="employee.personalInfo">
                    </div> <!-- form-group// -->

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-tag"></i>*</span>
                        </div>
                        <select name="title" class="form-control select" oninput="style.color='black'" [(ngModel)]="employee.title">
                            <option disabled selected class="select-placeholder">Zvanje</option>
                            <option>redovni profesor</option>
                            <option>vanredni profesor</option>
                            <option>docent</option>
                            <option>asistent</option>
                            <option>saradnik u nastavi</option>
                            <option>istrazivac</option>
                            <option>laboratorijski inzenjer</option>
                            <option>laboratorijski tehnicar</option>
                        </select>
                    </div> <!-- form-group end.// -->

                    <div class="form-group input-group" *ngIf="isTeacher()">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-door-closed"></i>*</span>
                        </div>
                        <input name="roomNumber" class="form-control" placeholder="Broj kabineta" type="text" [(ngModel)]="employee.roomNumber">
                    </div> <!-- form-group// -->

                    <div class="form-group">
                        <input (click)="registerEmployee()" type="submit" class="btn btn-primary btn-block" value="Registracija">
                    </div> <!-- form-group// -->

                </form>

                <div class="text-warning">
                    <p>{{msgEmpl}}</p>
                </div>
            </div>






            <!-- Student -->
            <div class="tab-pane fade" id="student" role="tabpanel" aria-labelledby="student-tab">

                <form name="student-form" class="mt-3">

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <div class="input-group-append">
                            <span class="input-group-text">{{studentUsername}}@student.etf.rs </span>
                        </div>
                    </div> <!-- form-group// -->

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i>*</span>
                        </div>
                        <input name="firstname" onkeypress="return /[- 'a-zA-Z]/i.test(event.key)" class="form-control" placeholder="Ime" type="text" [(ngModel)]="student.firstName">
                        <input name="lastname" onkeypress="return /[- 'a-zA-Z]/i.test(event.key)" class="form-control" placeholder="Prezime" type="text" [(ngModel)]="student.lastName">
                    </div> <!-- form-group// -->

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i>*</span>
                        </div>
                        <input name="pass1" class="form-control" placeholder="Lozinka" type="password" [(ngModel)]="studPass1">
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i>*</span>
                        </div>
                        <input name="pass2" class="form-control" placeholder="Ponovljena lozinka" type="password" [(ngModel)]="studPass2">
                    </div> <!-- form-group// -->

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-book-open"></i>*</span>
                        </div>
                        <input name="index" onkeypress="return /[/0-9]/i.test(event.key)" class="form-control" placeholder="Broj indeksa GGGG/BBBB" type="text" [(ngModel)]="student.index">
                    </div> <!-- form-group// -->

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-graduation-cap"></i>*</span>
                        </div>
                        <select name="type" [(ngModel)]="student.studyType" class="form-control select" oninput="style.color='black'">
                            <option disabled selected class="select-placeholder">Tip studija</option>
                            <option value='d'>Osnovne akademske</option>
                            <option value='m'>Master akademske</option>
                            <option value='p'>Doktorske studije</option>
                        </select>
                    </div> <!-- form-group end.// -->

                    <div class="form-group">
                        <input (click)="registerStudent()" type="submit" class="btn btn-primary btn-block" value="Registracija">
                    </div> <!-- form-group// -->

                </form>

                <div class="text-center text-warning">
                    <p>{{msgStud}}</p>
                </div>

            </div>
        </div>

    </div>
</div>