<div class="container" *ngIf="hide">
    {{msg}}
</div>

<div class="container" *ngIf="!hide">
    <div class="contact-body">
        <div class="contact">
            <div class="row card-row">
                <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">Dekanat</h2>
                        </div>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fas fa-user-astronaut mr-1"></i>Dragana Trenevski</li>
                            <li class="list-group-item"><i class="fas fa-phone-alt mr-1"></i>(011) 324-8681</li>
                            <li class="list-group-item"><i class="far fa-paper-plane mr-1"></i><a
                                    href="mailto:dekanat@etf.bg.ac.rs">dekanat@etf.bg.ac.rs</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">Studentski odsek</h2>
                        </div>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fas fa-user-astronaut mr-1"></i>Dragana Trenevski</li>
                            <li class="list-group-item"><i class="fas fa-phone-alt mr-1"></i>(011) 3226-760</li>
                            <li class="list-group-item"><i class="far fa-paper-plane mr-1"></i>
                                <a href="mailto:stud_sluzba@etf.bg.ac.rs">stud_sluzba@etf.bg.ac.rs</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row card-row">
                <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">Opšti odsek</h2>
                        </div>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fas fa-user-astronaut mr-1"></i>Miloš Nalović</li>
                            <li class="list-group-item"><i class="fas fa-phone-alt mr-1"></i>(011) 3226-992</li>
                            <li class="list-group-item"><i class="far fa-paper-plane mr-1"></i><a
                                    href="mailto:opsta_sluzba@etf.bg.ac.rs">opsta_sluzba@etf.bg.ac.rs</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">Računovodstvo</h2>
                        </div>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fas fa-user-astronaut mr-1"></i>Mirjana Vlajković</li>
                            <li class="list-group-item"><i class="fas fa-phone-alt mr-1"></i>(011) 3370-146</li>
                            <li class="list-group-item"><i class="far fa-paper-plane mr-1"></i><a
                                    href="mailto:racunovodstvo@etf.bg.ac.rs">dekanat@etf.bg.ac.rs</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <p><iframe allowfullscreen="" frameborder="0" height="450"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2830.7735764420236!2d20.474245515992596!3d44.805802885152495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a7a9f59af917f%3A0xf9b50e9f0114cb72!2z0JXQu9C10LrRgtGA0L7RgtC10YXQvdC40YfQutC4INGE0LDQutGD0LvRgtC10YIsIDczLCDQkdC10L7Qs9GA0LDQtA!5e0!3m2!1ssr!2srs!4v1512649449738"
                style="border:0" width="100%"></iframe></p>

        <hr>
    </div>
</div>