.contact-body {
    .contact {
        .card-row {
            .card {
                margin-bottom: 2.5rem;
                .fa-paper-plane, .fa-phone-alt, .fa-user-astronaut {
                    color: #00bc8c;
                }
            }
        }
    }
}