<nav id="sidebar" class="active">
    <div class="sidebar-header">
        <a href="/" class="href">
            <strong>RTI</strong>
        </a>
    </div>

    <ul class="list-unstyled components" *ngIf="user">
        <li [routerLinkActive]="['active']">
            <a routerLink="profil">
                <i class="fas fa-home"></i>
                Home
            </a>
        </li>

        <li [routerLinkActive]="['active']" *ngIf="user?.type == 'admin'">
            <a routerLink="korisnici">
                <i class="fas fa-users-cog"></i>
                Korisnici
            </a>
        </li>

        <li [routerLinkActive]="['active']" *ngIf="user?.type == 'admin'">
            <a href="#vestiSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-bell"></i>
                Vesti
            </a>
            <ul class="collapse list-unstyled" id="vestiSubmenu">
                <li [routerLinkActive]="['active']">
                    <a routerLink="admin/obavestenja/tipovi">Tipovi</a>
                </li>
                <li [routerLinkActive]="['active']">
                    <a routerLink="admin/obavestenja/pregled">Vesti</a>
                </li>
            </ul>
        </li>
        <li [routerLinkActive]="['active']" *ngIf="user?.type == 'admin'">
            <a routerLink="planangazovanja">
                <i class="far fa-list-alt"></i>
                Plan rada
            </a>
        </li>
        <li [routerLinkActive]="['active']" *ngIf="user?.type == 'admin'">
            <a routerLink="napravipredmet">
                <i class="fa fa-plus"></i>
                Napravi predmet
            </a>
        </li>




        <li [routerLinkActive]="['active']" *ngIf="user?.type=='zaposlen' && emp && emp.type=='nastavnik'">
            <a href="#vestiSubmenuZap" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-bell"></i>
                Vesti
            </a>
            <ul class="collapse list-unstyled" id="vestiSubmenuZap">
                <li [routerLinkActive]="['active']">
                    <a routerLink="vesti/dodaj">Dodaj</a>
                </li>
                <li [routerLinkActive]="['active']">
                    <a routerLink="vesti/pregled">Pregled</a>
                </li>
            </ul>
        </li>

        <li [routerLinkActive]="['active']" *ngIf="user?.type=='zaposlen' && emp && emp.type=='nastavnik'">
            <a routerLink="zaposlen/predmeti">
                <i class="far fa-list-alt"></i>
                Predmeti
            </a>
        </li>

        <li [routerLinkActive]="['active']" *ngIf="user?.type=='zaposlen' && emp && emp.type=='nastavnik'">
            <a routerLink="zaposlen/spiskovi">
                <i class="fa fa-plus"></i>
                Spiskovi
            </a>
        </li>





        <li [routerLinkActive]="['active']" *ngIf="user?.type == 'student'">
            <a routerLink="listapredmeta">
                <i class="far fa-list-alt"></i>
                Lista predmeta
            </a>
        </li>

    </ul>

</nav>