.navbar {
    padding: 0.5rem 0.5rem;

    .nav-item {
        margin-right: 20px;

        .nav-link {
            font-size: medium;
        }
    }
}

@media (max-width: 768px){
    .navbar .input-group {
        width: 100%;
    }
    .navbar .nav .btn-primary, .navbar .nav .btn-primary:active {
        display: block;
    }
}