<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="home">RTI Katedra</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" routerLink="home">Pocetna</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" routerLink="zaposleni">Zaposleni</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" routerLink="obavestenja">Obavestenja</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Osnovne studije
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLinkActive]="['active']" routerLink="predmeti/rti">Odsek za RTI</a>
                    <a class="dropdown-item" [routerLinkActive]="['active']" routerLink="predmeti/si">Odsek za SI</a>
                    <a class="dropdown-item" [routerLinkActive]="['active']" routerLink="predmeti/ostali">Ostali odseci</a>
                </div>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" routerLink="predmeti/master">Master studije</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" routerLink="projekti">Projekti</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Nauka
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLinkActive]="['active']" routerLink="nauka/istrazivanja">Istrazivanja</a>
                    <a class="dropdown-item" [routerLinkActive]="['active']" routerLink="nauka/projekti">Projekti</a>
                </div>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" routerLink="kontakt">Kontakt</a>
            </li>
        </ul>

        <login class="ml-auto float-left"></login>

        <register class="ml-2 float-left"></register>

    </div>
</nav>