.navbar {
    padding: 0.5rem 0.5rem;

    .nav-item {
        margin-right: 15px;

        .nav-link {
            font-size: medium;
        }
    }
}

@media (max-width: 768px){
    .navbar .input-group {
        width: 100%;
    }
    .navbar .nav .btn-primary, .navbar .nav .btn-primary:active {
        display: block;
    }
}

@media (max-width: 1218px){
    .navbar {
        padding: 0.25rem 0.25rem;

        .nav-item {
            margin-right: 8px;

            .nav-link {
                font-size: medium;
            }
        }
    }

}