.card {
    .table {
        .newNotif {
            font-weight: bold;
            font-size: larger;
        }
        .btn.greenColor {
                background-color: var(--green);
        }
    }
}