
.card {
    margin-bottom: 2.5rem;
    .fas, .far {
        color: #00bc8c;
    }

    .card-body {
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 300px;
            max-height: 300px;
        }
    }

    .subjects-header {
        margin-top: 0.5rem;
        margin-left: 1rem;

        .subjects {
            margin-left: 2.5rem;
            border: none;
            margin-bottom: 1rem;
        }
    }
}