<div class="container">

    <h4 class="text-center">Computer Science
    </h4>
    <br><br>Encyclopedia Articles on
    Computer Science: <br> <a href="http://en.wikipedia.org/wiki/Computer_Science">Wikipedia:
        Computer Science</a> <br> <a href="http://www.encyclopedia.com/topic/Computer_science.aspx">Encyclopedia.com:
        Computer
        Science</a> <br> <a href="http://en.citizendium.org/wiki/Computer_science">Citizendium:
        Computer Science</a> <br> <br> News Articles Related to Computer Science: <br> <a
        href="http://www.sciencedaily.com/news/computers_math/">ScienceDaily: Computers &amp; Math
        News</a> <br> <a href="http://news.search.yahoo.com/news/search?p=computers&amp;c=">Yahoo
        News: Computers</a> <br> <a href="http://www.eurekalert.org/bysubject/technology.php">EurekAlert:
        Tech/Engineering/Computer Science</a> <br> <a href="http://www.sparknotes.com/cs/">SparkNotes: Computer
        Science</a> Study guide. <br> <br>

    Texts on Computer Science: <br> <a
        href="http://textbookrevolution.org/index.php/Book:Lists/Subjects/Computer_Science">Textbook
        Revolution: Computer Science</a> Links to sites for books and includes links to free texts
    and other resources. <br> <a href="http://en.wikibooks.org/wiki/Subject:Computer_science">Wikibooks: Computer
        Science</a>
    Open-content textbooks that anyone can edit. <br> <a
        href="http://www.openculture.com/free-computer-science-textbooks">Open Culture: Free
        Textbooks: Computer Science</a> A list. <br> <a href="http://www.nap.edu/topics.php?topic=279">National
        Academies Press: Computers and
        Information Technology</a> Recently published books online on this subject. <br> <a
        href="http://www.freescience.info/Computer%20Science.php">FreeScience: Computer Science</a>
    Free texts. <br> <a href="https://bookboon.com/en/it-programming-ebooks">Bookboon: IT,
        Programming &amp; Computer science</a> Free e-books. <br> <a
        href="http://www.openculture.com/free-computer-science-textbooks">Open Culture: Free Texts:
        Computer Science</a> A listing of free texts. <br> <br> <a
        href="https://www.docsity.com/en/lecture-notes/subjects/computer-science-2/">Docsity:
        Lecture notes of Computer Science</a> A collection of free college lecture notes. <br> <a
        href="https://doaj.org/subjects">Directory of Open Access Journals: Computer Science</a> A
    directory of academic journals that have content available online for free. <br> <a
        href="http://citeseerx.ist.psu.edu/index">CiteSeerX</a> A digital library and
    search engine on computer-science literature. <br> <a
        href="http://academicblogs.org/index.php?title=Computer_Science">AcademicBlogs: Computer
        Science</a> Links to blogs by professors in this field. <br> <a
        href="http://www.wolframalpha.com/examples/ComputationalScience.html">WolframAlpha:
        Computational Sciences</a> A computational knowledge engine. <br> <br> Other Learning
    Resources on Computer Science: <br> <a
        href="http://www.merlot.org/merlot/materials.htm?category=2635&amp;&amp;">Merlot II:
        Computer Science</a> Learning materials. <br> <a
        href="http://en.wikiversity.org/wiki/School:Computer_Science">Wikiversity: School: Computer
        Science</a> Learning resources, projects, and research. <br> <a
        href="https://www.opened.com/search?area=technology&amp;subject=computer-science">ACT
        Academy: Computer Science</a> Free K-12 resources. <br> <a
        href="http://www.watchknowlearn.org/Category.aspx?CategoryID=98">WatchKnowLearn: Computers
        &amp; Technology</a> Free K-12 educational videos. <br> <br> Link Collections on Computer
    Science: <br> <a href="http://www.martindalecenter.com/Calculators3B.html">Martindale's:
        Computer Science &amp; Computer Engineering</a> <br> <a href="https://www.bydewey.com/000-005.html#004">A
        Research Guide for Students: Computer
        Science</a> By I. Lee.<br> <br>
</div>