<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSubject"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSubject">
        <ul class="navbar-nav ml-auto mr-auto">
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" routerLink="informacije/{{subject}}">Informacije</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" routerLink="predavanja/{{subject}}">Predavanja</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" routerLink="vezbe/{{subject}}">Vezbe</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" routerLink="ispitna-pitanja/{{subject}}">Ispitna pitanja</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" routerLink="laboratorija/{{subject}}">Laboratorija</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" routerLink="projekti-domaci/{{subject}}">Projekat/Domaci</a>
            </li>
        </ul>
    </div>
</nav>